<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<ul>
<li><a href="javascript:void(0);" routerLink="/app1">
    To App 1
</a>
</li>
<li>
<a href="javascript:void(0);" routerLink="/app2/contact">
    Contact
</a>
</li>
<li>
    <a href="javascript:void(0);" routerLink="/app2/about">
        About
    </a>
</li>
<li>
    <a href="javascript:void(0);" routerLink="/app1/contact">
        App1 Contact
    </a>
</li>

<router-outlet></router-outlet>
