<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <router-outlet></router-outlet>
<nav>
    <li>
        <a routerLink="/">
            Home
        </a>
    </li>
    <li>
        <a routerLink="/app1">
            App 1
        </a>
    </li>
    <li>
        <a routerLink="/app2">
            App 2
        </a>
    </li>
    <li>
        <a routerLink="/about">
            About Component
        </a>
    </li>
</nav>
</div>

